In [5]:
import pybaseball
import pandas as pd

In [21]:
data = pybaseball.standings(2012)
data

[                  Tm   W   L  W-L%    GB
 1   New York Yankees  95  67  .586    --
 2  Baltimore Orioles  93  69  .574   2.0
 3     Tampa Bay Rays  90  72  .556   5.0
 4  Toronto Blue Jays  73  89  .451  22.0
 5     Boston Red Sox  69  93  .426  26.0,
                    Tm   W   L  W-L%    GB
 1      Detroit Tigers  88  74  .543    --
 2   Chicago White Sox  85  77  .525   3.0
 3  Kansas City Royals  72  90  .444  16.0
 4   Cleveland Indians  68  94  .420  20.0
 5     Minnesota Twins  66  96  .407  22.0,
                               Tm   W   L  W-L%    GB
 1              Oakland Athletics  94  68  .580    --
 2                  Texas Rangers  93  69  .574   1.0
 3  Los Angeles Angels of Anaheim  89  73  .549   5.0
 4               Seattle Mariners  75  87  .463  19.0,
                       Tm   W   L  W-L%    GB
 1   Washington Nationals  98  64  .605    --
 2         Atlanta Braves  94  68  .580   4.0
 3  Philadelphia Phillies  81  81  .500  17.0
 4          New York Mets  74  88  .457  24.0
 5          Miami Marlins  69  93  .426  29.0,
                     Tm   W    L  W-L%    GB
 1      Cincinnati Reds  97   65  .599    --
 2  St. Louis Cardinals  88   74  .543   9.0
 3    Milwaukee Brewers  83   79  .512  14.0
 4   Pittsburgh Pirates  79   83  .488  18.0
 5         Chicago Cubs  61  101  .377  36.0
 6       Houston Astros  55  107  .340  42.0,
                      Tm   W   L  W-L%    GB
 1  San Francisco Giants  94  68  .580    --
 2   Los Angeles Dodgers  86  76  .531   8.0
 3  Arizona Diamondbacks  81  81  .500  13.0
 4      San Diego Padres  76  86  .469  18.0
 5      Colorado Rockies  64  98  .395  30.0]

## We can observe that the team with the best record in 2012 were the Nationals with a 98-64 record

* Let's plot a regression equation for Wins and Run Differential until 2012

In [22]:
df = pd.read_csv("baseball.csv")

In [23]:
from sklearn.linear_model import LinearRegression
from sklearn import metrics

lr = LinearRegression()

y = df["W"]
df["RD"] = df["RS"]

,Team,League,Year,RS,RA,W,OBP,SLG,BA,Playoffs,RankSeason,RankPlayoffs,G,OOBP,OSLG
0,ARI,NL,2012,734,688,81,0.328,0.418,0.259,0,NaN,NaN,162,0.317,0.415
1,ATL,NL,2012,700,600,94,0.320,0.389,0.247,1,4.0,5.0,162,0.306,0.378
2,BAL,AL,2012,712,705,93,0.311,0.417,0.247,1,5.0,4.0,162,0.315,0.403
3,BOS,AL,2012,734,806,69,0.315,0.415,0.260,0,NaN,NaN,162,0.331,0.428
4,CHC,NL,2012,613,759,61,0.302,0.378,0.240,0,NaN,NaN,162,0.335,0.424
5,CHW,AL,2012,748,676,85,0.318,0.422,0.255,0,NaN,NaN,162,0.319,0.405
6,CIN,NL,2012,669,588,97,0.315,0.411,0.251,1,2.0,4.0,162,0.305,0.390
7,CLE,AL,2012,667,845,68,0.324,0.381,0.251,0,NaN,NaN,162,0.336,0.430
8,COL,NL,2012,758,890,64,0.330,0.436,0.274,0,NaN,NaN,162,0.357,0.470
9,DET,AL,2012,726,670,88,0.335,0.422,0.268,1,6.0,2.0,162,0.314,0.402
10,HOU,NL,2012,583,794,55,0.302,0.371,0.236,0,NaN,NaN,162,0.337,0.427
11,KCR,AL,2012,676,746,72,0.317,0.400,0.265,0,NaN,NaN,162,0.339,0.423
12,LAA,AL,2012,767,699,89,0.332,0.433,0.274,0,NaN,NaN,162,0.310,0.403
13,LAD,NL,2012,637,597,86,0.317,0.374,0.252,0,NaN,NaN,162,0.310,0.364
14,MIA,NL,2012,609,724,69,0.308,0.382,0.244,0,NaN,NaN,162,0.327,0.399
15,MIL,NL,2012,776,733,83,0.325,0.437,0.259,0,NaN,NaN,162,0.326,0.414
16,MIN,AL,2012,701,832,66,0.325,0.390,0.260,0,NaN,NaN,162,0.333,0.442
17,NYM,NL,2012,650,709,74,0.316,0.386,0.249,0,NaN,NaN,162,0.315,0.401
18,NYY,AL,2012,804,668,95,0.337,0.453,0.265,1,3.0,3.0,162,0.311,0.419
19,OAK,AL,2012,713,614,94,0.310,0.404,0.238,1,4.0,4.0,162,0.306,0.378
20,PHI,NL,2012,684,680,81,0.317,0.400,0.255,0,NaN,NaN,162,0.306,0.407
21,PIT,NL,2012,651,674,79,0.304,0.395,0.243,0,NaN,NaN,162,0.314,0.390
22,SDP,NL,2012,651,710,76,0.319,0.380,0.247,0,NaN,NaN,162,0.319,0.398
23,SEA,AL,2012,619,651,75,0.296,0.369,0.234,0,NaN,NaN,162,0.308,0.394
24,SFG,NL,2012,718,649,94,0.327,0.397,0.269,1,4.0,1.0,162,0.313,0.393
25,STL,NL,2012,765,648,88,0.338,0.421,0.271,1,6.0,3.0,162,0.313,0.387
26,TBR,AL,2012,697,577,90,0.317,0.394,0.240,0,NaN,NaN,162,0.294,0.352
27,TEX,AL,2012,808,707,93,0.334,0.446,0.273,1,5.0,5.0,162,0.309,0.408
28,TOR,AL,2012,716,784,73,0.309,0.407,0.245,0,NaN,NaN,162,0.335,0.438
29,WSN,NL,2012,731,594,98,0.322,0.428,0.261,1,1.0,4.0,162,0.303,0.373
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1202,LAD,NL,1963,640,550,99,0.309,0.357,0.251,1,2.0,1.0,163,NaN,NaN
1203,MIN,AL,1963,767,602,91,0.325,0.430,0.255,0,NaN,NaN,161,NaN,NaN
1204,MLN,NL,1963,677,603,84,0.312,0.370,0.244,0,NaN,NaN,163,NaN,NaN
1205,NYM,NL,1963,501,774,51,0.285,0.315,0.219,0,NaN,NaN,162,NaN,NaN
1206,NYY,AL,1963,714,547,104,0.309,0.403,0.252,1,1.0,2.0,161,NaN,NaN
1207,PHI,NL,1963,642,578,87,0.306,0.381,0.252,0,NaN,NaN,162,NaN,NaN
1208,PIT,NL,1963,567,595,74,0.309,0.359,0.250,0,NaN,NaN,162,NaN,NaN
1209,SFG,NL,1963,725,641,88,0.316,0.414,0.258,0,NaN,NaN,162,NaN,NaN
1210,STL,NL,1963,747,628,93,0.326,0.403,0.271,0,NaN,NaN,162,NaN,NaN
1211,WSA,AL,1963,578,812,56,0.293,0.351,0.227,0,NaN,NaN,162,NaN,NaN
1212,BAL,AL,1962,652,680,77,0.314,0.387,0.248,0,NaN,NaN,162,NaN,NaN
1213,BOS,AL,1962,707,756,76,0.324,0.403,0.258,0,NaN,NaN,160,NaN,NaN
1214,CHC,NL,1962,632,827,59,0.317,0.377,0.253,0,NaN,NaN,162,NaN,NaN
1215,CHW,AL,1962,707,658,85,0.334,0.372,0.257,0,NaN,NaN,162,NaN,NaN
1216,CIN,NL,1962,802,685,98,0.332,0.417,0.270,0,NaN,NaN,162,NaN,NaN
1217,CLE,AL,1962,682,745,80,0.312,0.388,0.245,0,NaN,NaN,162,NaN,NaN
1218,DET,AL,1962,758,692,85,0.330,0.411,0.248,0,NaN,NaN,161,NaN,NaN
1219,HOU,NL,1962,592,717,64,0.310,0.351,0.246,0,NaN,NaN,162,NaN,NaN
1220,KCA,AL,1962,745,837,72,0.332,0.386,0.263,0,NaN,NaN,162,NaN,NaN
1221,LAA,AL,1962,718,706,86,0.325,0.380,0.250,0,NaN,NaN,162,NaN,NaN
1222,LAD,NL,1962,842,697,102,0.337,0.400,0.268,0,NaN,NaN,165,NaN,NaN
1223,MIN,AL,1962,798,713,91,0.338,0.412,0.260,0,NaN,NaN,163,NaN,NaN
1224,MLN,NL,1962,730,665,86,0.326,0.403,0.252,0,NaN,NaN,162,NaN,NaN
1225,NYM,NL,1962,617,948,40,0.318,0.361,0.240,0,NaN,NaN,161,NaN,NaN
1226,NYY,AL,1962,817,680,96,0.337,0.426,0.267,1,2.0,1.0,162,NaN,NaN
1227,PHI,NL,1962,705,759,81,0.330,0.390,0.260,0,NaN,NaN,161,NaN,NaN
1228,PIT,NL,1962,706,626,93,0.321,0.394,0.268,0,NaN,NaN,161,NaN,NaN
1229,SFG,NL,1962,878,690,103,0.341,0.441,0.278,1,1.0,2.0,165,NaN,NaN
1230,STL,NL,1962,774,664,84,0.335,0.394,0.271,0,NaN,NaN,163,NaN,NaN
1231,WSA,AL,1962,599,716,60,0.308,0.373,0.250,0,NaN,NaN,162,NaN,NaN