In [1]:
import pybaseball
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import math

In [3]:
data = pybaseball.standings(2011)
data

[                  Tm   W   L  W-L%    GB
 1   New York Yankees  97  65  .599    --
 2     Tampa Bay Rays  91  71  .562   6.0
 3     Boston Red Sox  90  72  .556   7.0
 4  Toronto Blue Jays  81  81  .500  16.0
 5  Baltimore Orioles  69  93  .426  28.0,
                    Tm   W   L  W-L%    GB
 1      Detroit Tigers  95  67  .586    --
 2   Cleveland Indians  80  82  .494  15.0
 3   Chicago White Sox  79  83  .488  16.0
 4  Kansas City Royals  71  91  .438  24.0
 5     Minnesota Twins  63  99  .389  32.0,
                               Tm   W   L  W-L%    GB
 1                  Texas Rangers  96  66  .593    --
 2  Los Angeles Angels of Anaheim  86  76  .531  10.0
 3              Oakland Athletics  74  88  .457  22.0
 4               Seattle Mariners  67  95  .414  29.0,
                       Tm    W   L  W-L%    GB
 1  Philadelphia Phillies  102  60  .630    --
 2         Atlanta Braves   89  73  .549  13.0
 3   Washington Nationals   80  81  .497  21.5
 4          New York Mets   77  85  .475  25.0
 5        Florida Marlins   72  90  .444  30.0,
                     Tm   W    L  W-L%    GB
 1    Milwaukee Brewers  96   66  .593    --
 2  St. Louis Cardinals  90   72  .556   6.0
 3      Cincinnati Reds  79   83  .488  17.0
 4   Pittsburgh Pirates  72   90  .444  24.0
 5         Chicago Cubs  71   91  .438  25.0
 6       Houston Astros  56  106  .346  40.0,
                      Tm   W   L  W-L%    GB
 1  Arizona Diamondbacks  94  68  .580    --
 2  San Francisco Giants  86  76  .531   8.0
 3   Los Angeles Dodgers  82  79  .509  11.5
 4      Colorado Rockies  73  89  .451  21.0
 5      San Diego Padres  71  91  .438  23.0]

## We can observe that the team with the best record in 2011 were the Phillies with a 102-60 record

* Let's plot a regression equation for Wins and Run Differential until 2012

In [4]:
df = pd.read_csv("baseball.csv")
df.head()

,Team,League,Year,RS,RA,W,OBP,SLG,BA,Playoffs,RankSeason,RankPlayoffs,G,OOBP,OSLG
0,ARI,NL,2012,734,688,81,0.328,0.418,0.259,0,NaN,NaN,162,0.317,0.415
1,ATL,NL,2012,700,600,94,0.320,0.389,0.247,1,4.0,5.0,162,0.306,0.378
2,BAL,AL,2012,712,705,93,0.311,0.417,0.247,1,5.0,4.0,162,0.315,0.403
3,BOS,AL,2012,734,806,69,0.315,0.415,0.260,0,NaN,NaN,162,0.331,0.428
4,CHC,NL,2012,613,759,61,0.302,0.378,0.240,0,NaN,NaN,162,0.335,0.424

In [5]:
df1 = df[df.Year < 2012]

In [7]:
df1["RD"] = df1["RS"] - df1["RA"]

/home/dell/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [8]:
df1.head()

,Team,League,Year,RS,RA,W,OBP,SLG,BA,Playoffs,RankSeason,RankPlayoffs,G,OOBP,OSLG,RD
30,ARI,NL,2011,731,662,94,0.322,0.413,0.250,1,5.0,4.0,162,0.316,0.409,69
31,ATL,NL,2011,641,605,89,0.308,0.387,0.243,0,NaN,NaN,162,0.310,0.361,36
32,BAL,AL,2011,708,860,69,0.316,0.413,0.257,0,NaN,NaN,162,0.341,0.460,-152
33,BOS,AL,2011,875,737,90,0.349,0.461,0.280,0,NaN,NaN,162,0.322,0.392,138
34,CHC,NL,2011,654,756,71,0.314,0.401,0.256,0,NaN,NaN,162,0.335,0.413,-102

### All Star Batters and Pitchers

#### Batters

In [9]:
from sklearn.linear_model import LinearRegression
from sklearn import metrics

lr = LinearRegression()

y = df1["W"]
x = df1["RD"]

reg = lr.fit(x.values.reshape(-1,1),y.values.reshape(-1,1))
print(reg.coef_, reg.intercept_)

[[0.10436774]] [80.90183028]

* We can write regression equation as:

        W = 0.104*RD + 80.90
        
* Plugging in value of 102 for highest wins,
    
        RD = 202.88 ~ 203

In [53]:
runs_allowed = list(df[df["Year"]==2011]["RA"])
sum(runs_allowed)/len(runs_allowed)

693.6

* Assuming most runs allowed = 860
* We would need to construct a batting lineup to score 
        
        860 + 203 = 1063

* We need to calculate necessary OBP and SLG to obtain this result, so we'll build a regression model between Runs Scored and OBP and SLG, using the crude, yet efficient metric OPS (On base percentage + slugging rate), which is simply a sum of OBP and SLG, i.e, OPS = OBP + SLG

In [56]:
df1["OPS"] = df1["OBP"] + df1["SLG"]
df1.head()

/home/dell/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,Team,League,Year,RS,RA,W,OBP,SLG,BA,Playoffs,RankSeason,RankPlayoffs,G,OOBP,OSLG,RD,OPS,OOPS
30,ARI,NL,2011,731,662,94,0.322,0.413,0.250,1,5.0,4.0,162,0.316,0.409,69,0.735,0.725
31,ATL,NL,2011,641,605,89,0.308,0.387,0.243,0,NaN,NaN,162,0.310,0.361,36,0.695,0.671
32,BAL,AL,2011,708,860,69,0.316,0.413,0.257,0,NaN,NaN,162,0.341,0.460,-152,0.729,0.801
33,BOS,AL,2011,875,737,90,0.349,0.461,0.280,0,NaN,NaN,162,0.322,0.392,138,0.810,0.714
34,CHC,NL,2011,654,756,71,0.314,0.401,0.256,0,NaN,NaN,162,0.335,0.413,-102,0.715,0.748

In [57]:
x = df1["OPS"]
y = df1["RS"]

lr = LinearRegression()

reg = lr.fit(x.values.reshape(-1,1), y.values.reshape(-1,1))

print(reg.coef_, reg.intercept_)

[[1903.51707415]] [-662.05439955]

* Regression model for OPS(OBP + SLG) vs Runs Scored can be written as
        
        RS = 1903.5*OPS - 662
        
* Substituting 1063 for RS, we get
        
        OPS = 0.906

* Which means that we need 9 batters who average more than 0.906 OPS.

In [15]:
data = pd.read_csv("bat_2012.csv")
data.head()

,Rk,Name,Age,Tm,Lg,G,PA,AB,R,H,...,SLG,OPS,OPS+,TB,GDP,HBP,SH,SF,IBB,Pos Summary
0,1,Fernando Abad*\abadfe01,26,HOU,NL,36,7,7,0,1,...,0.143,0.286,-22.0,1,1,0,0,0,0,1
1,2,Bobby Abreu*\abreubo01,38,TOT,MLB,100,257,219,29,53,...,0.342,0.693,94.0,75,7,0,0,1,3,7/D9
2,3,Bobby Abreu*\abreubo01,38,LAA,AL,8,27,24,1,5,...,0.333,0.593,66.0,8,1,0,0,1,0,/79
3,4,Bobby Abreu*\abreubo01,38,LAD,NL,92,230,195,28,48,...,0.344,0.704,97.0,67,6,0,0,0,3,7/D9
4,5,Tony Abreu#\abreuto01,27,KCR,AL,22,74,70,5,18,...,0.357,0.641,74.0,25,1,1,0,1,0,4/56D

In [64]:
# A regular batter faces more than 400 at-bats
preds = data[(data["OPS"] > 0.906) & (data["AB"] > 400)]
pred_players = [x.split("\\")[1] for x in preds.Name]
preds

,Rk,Name,Age,Tm,Lg,G,PA,AB,R,H,...,SLG,OPS,OPS+,TB,GDP,HBP,SH,SF,IBB,Pos Summary
96,97,Adrian Beltre\beltrad01,33,TEX,AL,156,654,604,95,194,...,0.561,0.921,139.0,339,8,5,0,9,8,*5D
138,139,Ryan Braun\braunry02,28,MIL,NL,154,677,598,108,191,...,0.595,0.987,158.0,356,12,11,0,5,15,*7/D
176,177,Miguel Cabrera\cabremi01,29,DET,AL,161,697,622,109,205,...,0.606,0.999,164.0,377,28,3,0,6,17,*5/D3
185,186,Robinson Cano*\canoro01,29,NYY,AL,161,697,627,105,196,...,0.550,0.929,148.0,345,22,7,0,2,10,*4/D
366,367,Edwin Encarnacion\encared01,29,TOR,AL,151,644,542,93,152,...,0.557,0.941,153.0,302,6,11,0,7,12,D3/75
392,393,Prince Fielder*\fieldpr01,28,DET,AL,162,690,581,83,182,...,0.528,0.940,151.0,307,19,17,0,7,18,*3/D
510,511,Josh Hamilton*\hamiljo03,31,TEX,AL,148,636,562,103,160,...,0.577,0.930,141.0,324,9,5,0,9,13,*87D/9
822,823,Andrew McCutchen\mccutan01,25,PIT,NL,157,673,593,107,194,...,0.553,0.953,162.0,328,9,5,0,5,13,*8
1015,1016,Buster Posey\poseybu01,25,SFG,NL,148,610,530,78,178,...,0.549,0.957,171.0,291,19,2,0,9,7,*23/D
1223,1224,Giancarlo Stanton\stantmi03,22,MIA,NL,123,501,449,75,130,...,0.608,0.969,155.0,273,5,5,0,1,9,*9/D
1291,1292,Mike Trout\troutmi01,20,LAA,AL,139,639,559,129,182,...,0.564,0.963,168.0,315,7,6,0,7,4,*87/9

* We can compare our prediction of these 11 batters to the batters in the All Star Team that year

In [65]:
df_as = pd.read_csv("./core/AllstarFull.csv");

In [66]:
df_as.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5291 entries, 0 to 5290
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   playerID     5291 non-null   object
 1   yearID       5291 non-null   int64
 2   gameNum      5291 non-null   int64
 3   gameID       5242 non-null   object
 4   teamID       5291 non-null   object
 5   lgID         5291 non-null   object
 6   GP           5272 non-null   float64
 7   startingPos  1640 non-null   float64
dtypes: float64(2), int64(2), object(4)
memory usage: 330.8+ KB

In [67]:
# print(type(df_as["startingPos"]))
df_allstars = df_as[(df_as["yearID"] == 2012)]
print(df_allstars.shape)
allstars = [x for x in df_allstars.playerID]
# print(allstars)
df_allstars

(74, 8)

       playerID  yearID  gameNum        gameID teamID lgID   GP  startingPos
4760  verlaju01    2012        0  ALS201207100    DET   AL  1.0          1.0
4761  napolmi01    2012        0  ALS201207100    TEX   AL  1.0          2.0
4762  fieldpr01    2012        0  ALS201207100    DET   AL  1.0          3.0
4763   canoro01    2012        0  ALS201207100    NYA   AL  1.0          4.0
4764  beltrad01    2012        0  ALS201207100    TEX   AL  1.0          5.0
...         ...     ...      ...           ...    ...  ...  ...          ...
4829   ruizca01    2012        0  ALS201207100    PHI   NL  1.0          NaN
4830  stantmi03    2012        0  ALS201207100    MIA   NL  0.0          NaN
4831  strasst01    2012        0  ALS201207100    WAS   NL  1.0          NaN
4832  streehu01    2012        0  ALS201207100    SDN   NL  0.0          NaN
4833  wrighda03    2012        0  ALS201207100    NYN   NL  1.0          NaN

[74 rows x 8 columns]

In [68]:
#Actual starting batters
df_start = df_as[(df_as["yearID"] == 2012)& (df_as["startingPos"] <= 10.0) & (df_as["startingPos"] > 1.0)]
starting_batters = [x for x in df_start.playerID]
df_start

       playerID  yearID  gameNum        gameID teamID lgID   GP  startingPos
4761  napolmi01    2012        0  ALS201207100    TEX   AL  1.0          2.0
4762  fieldpr01    2012        0  ALS201207100    DET   AL  1.0          3.0
4763   canoro01    2012        0  ALS201207100    NYA   AL  1.0          4.0
4764  beltrad01    2012        0  ALS201207100    TEX   AL  1.0          5.0
4765  jeterde01    2012        0  ALS201207100    NYA   AL  1.0          6.0
4766  hamiljo03    2012        0  ALS201207100    TEX   AL  1.0          7.0
4767  grandcu01    2012        0  ALS201207100    NYA   AL  1.0          8.0
4768  bautijo02    2012        0  ALS201207100    TOR   AL  1.0          9.0
4769  ortizda01    2012        0  ALS201207100    BOS   AL  1.0         10.0
4797  poseybu01    2012        0  ALS201207100    SFN   NL  1.0          2.0
4798  vottojo01    2012        0  ALS201207100    CIN   NL  1.0          3.0
4799  ugglada01    2012        0  ALS201207100    ATL   NL  1.0          4.0
4800  sandopa01    2012        0  ALS201207100    SFN   NL  1.0          5.0
4801  furcara01    2012        0  ALS201207100    SLN   NL  1.0          6.0
4802  braunry02    2012        0  ALS201207100    MIL   NL  1.0          7.0
4803  cabreme01    2012        0  ALS201207100    SFN   NL  1.0          8.0
4804  beltrca01    2012        0  ALS201207100    NYN   NL  1.0          9.0
4805  gonzaca01    2012        0  ALS201207100    COL   NL  1.0         10.0

In [69]:
#COMMON BATTERS
count_allstar = 0
count_starter = 0
for batter in pred_players:
    if batter in allstars:
        count_allstar += 1
    if batter in starting_batters:
        count_starter += 1
print("Number of predicted all star batters: {}\nNumber of predicted all star STARTING batters: {}".format(count_allstar, count_starter))

Number of predicted all star batters: 10
Number of predicted all star STARTING batters: 6

* Upon observation, we can see that 10/11 predicted batters made the 2012 MLB All-Star game.

* 6/11 of our successfully predicted batters also were starters in the All-Star Game.

#### Pitchers

* We got Run Differential as 203

In [70]:
runs_scored = df[df["Year"]==2011]["RS"]
avg_rs = runs_scored.sum()/len(runs_scored)
print(math.ceil(avg_rs))

694

* Assuming least runs scored, we need the best pitchers to maintain a run differential of 202.
* Implies,
        
        RD = RS - RA
     => RA = RS - RD = 694 - 203
           = 491

* We can build a regression model for pitcher ability for RA vs. Opponent OPS(On base percentage + Slugging Rate)

In [71]:
df1["OOPS"] = df1["OOBP"] + df1["OSLG"]
df1.head()

/home/dell/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,Team,League,Year,RS,RA,W,OBP,SLG,BA,Playoffs,RankSeason,RankPlayoffs,G,OOBP,OSLG,RD,OPS,OOPS
30,ARI,NL,2011,731,662,94,0.322,0.413,0.250,1,5.0,4.0,162,0.316,0.409,69,0.735,0.725
31,ATL,NL,2011,641,605,89,0.308,0.387,0.243,0,NaN,NaN,162,0.310,0.361,36,0.695,0.671
32,BAL,AL,2011,708,860,69,0.316,0.413,0.257,0,NaN,NaN,162,0.341,0.460,-152,0.729,0.801
33,BOS,AL,2011,875,737,90,0.349,0.461,0.280,0,NaN,NaN,162,0.322,0.392,138,0.810,0.714
34,CHC,NL,2011,654,756,71,0.314,0.401,0.256,0,NaN,NaN,162,0.335,0.413,-102,0.715,0.748

In [72]:
cols = ["Year","RA","OOBP","OSLG","OOPS"]
df2 = df1[cols]
df2 = df2.dropna(subset=["OOBP","OSLG","OOPS"],how="all")
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 390 entries, 30 to 419
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Year    390 non-null    int64
 1   RA      390 non-null    int64
 2   OOBP    390 non-null    float64
 3   OSLG    390 non-null    float64
 4   OOPS    390 non-null    float64
dtypes: float64(3), int64(2)
memory usage: 18.3 KB

In [73]:
x = df2["OOPS"]
y = df2["RA"]
print(x.isnull().values.any())
print(y.isnull().values.any())
reg = lr.fit(x.values.reshape(-1,1), y.values.reshape(-1,1))

False
False

In [74]:
print(reg.coef_, reg.intercept_)

[[2069.86503808]] [-796.94885725]

* We have obtained a regression model for Runs Allowed(RA) vs OOPS as follows,
        
        RA = 2069.8*(OOPS) - 797

* Plugging in RA = 491, we get,
   
       OOPS = 0.622

* We need pitching staff that have OOPS less than 0.589.

In [75]:
pitch = pd.read_csv("pitch_2012.csv")

In [76]:
pitch.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 782 entries, 0 to 781
Data columns (total 30 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Rk      782 non-null    int64
 1   Name    782 non-null    object
 2   Age     782 non-null    int64
 3   Tm      782 non-null    object
 4   IP      782 non-null    float64
 5   PAu     0 non-null      float64
 6   G       782 non-null    int64
 7   PA      782 non-null    int64
 8   AB      782 non-null    int64
 9   R       782 non-null    int64
 10  H       782 non-null    int64
 11  2B      782 non-null    int64
 12  3B      782 non-null    int64
 13  HR      782 non-null    int64
 14  SB      782 non-null    int64
 15  CS      782 non-null    int64
 16  BB      782 non-null    int64
 17  SO      782 non-null    int64
 18  BA      782 non-null    float64
 19  OBP     782 non-null    float64
 20  SLG     782 non-null    float64
 21  OPS     782 non-null    float64
 22  BAbip   781 non-null    float64
 23  TB      782 non-null    int64
 24  GDP     782 non-null    int64
 25  HBP     782 non-null    int64
 26  SH      782 non-null    int64
 27  SF      782 non-null    int64
 28  IBB     782 non-null    int64
 29  ROE     782 non-null    int64
dtypes: float64(7), int64(21), object(2)
memory usage: 183.4+ KB

In [77]:
pitch["OOPS"] = pitch["OBP"] + pitch["SLG"]

In [78]:
pitch.head()

,Rk,Name,Age,Tm,IP,PAu,G,PA,AB,R,...,OPS,BAbip,TB,GDP,HBP,SH,SF,IBB,ROE,OOPS
0,1,David Aardsma\aardsda01,30,NYY,1.0,NaN,1,5,4,1,...,1.400,0.000,4,0,0,0,0,0,0,1.400
1,2,Fernando Abad*\abadfe01,26,HOU,46.0,NaN,37,208,183,27,...,0.892,0.364,93,4,3,2,1,1,2,0.891
2,3,Jeremy Accardo\accarje01,30,TOT,37.1,NaN,27,162,141,21,...,0.835,0.345,67,5,0,1,4,1,0,0.835
3,4,Jeremy Accardo\accarje01,30,CLE,35.1,NaN,26,152,132,19,...,0.820,0.337,61,5,0,1,3,1,0,0.820
4,5,Jeremy Accardo\accarje01,30,OAK,2.0,NaN,1,10,9,2,...,1.067,0.444,6,0,0,0,1,0,0,1.067

In [79]:
#starting pitchers pitch more than 120 innings in a season,in earlier years 200+ innings were the minimum
pitch[(pitch["OOPS"] <= 0.622) & (pitch["IP"] >= 150)]

,Rk,Name,Age,Tm,IP,PAu,G,PA,AB,R,...,OPS,BAbip,TB,GDP,HBP,SH,SF,IBB,ROE,OOPS
273,274,Gio Gonzalez*\gonzagi01,26,WSN,199.1,NaN,32,822,725,69,...,0.582,0.271,217,9,5,9,7,3,8,0.582
372,373,Clayton Kershaw*\kershcl01,24,LAD,227.2,NaN,33,901,810,70,...,0.593,0.271,262,17,5,18,4,5,10,0.593
573,574,David Price*\priceda01,26,TBR,211.0,NaN,31,836,767,63,...,0.602,0.286,244,20,5,2,3,2,4,0.602
731,732,Justin Verlander\verlaju01,29,DET,238.1,NaN,33,956,884,81,...,0.601,0.275,293,16,5,4,3,2,9,0.601
748,749,Jered Weaver\weaveje02,29,LAA,188.2,NaN,30,739,686,63,...,0.605,0.241,233,13,4,0,4,0,5,0.605

On Verification, we notice that all 5 of our predicted pitchers made the All Star Team in 2012